*{margin: 0;padding: 0;}
.modal{width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,.3);left: 0;top: 0;}

/*发布*/
#login{}

/*登录弹框*/
.openBtn{ width:100px; height:40px; border:1px solid #ccc; border-radius:5px; display:block; margin:100px auto}

.popBox_login{display: none;width:500px;height:220px; background:#fff;position:absolute;top:0;left:0; z-index:20;}
.popBox_login input{ height:30px; width:200px; border:1px solid #ccc;}
.popBox_login p{ padding-left:50px; padding-top:20px;}
.popBox_login h4{height:40px; line-height:40px; text-indent:1em; background:#ccc;cursor:move}
.popBox_login .loginBtn{width:100px; height:30px;border:1px solid #ccc; margin-left:66px}
.popBox_login .close_btn{width:20px; text-align:center; line-height:20px; height:20px; position:absolute; top:10px; right:8px; color:#fff;}

